body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    padding: 50px;
}

.left-column {
    flex: 0;
    margin-right: 20px;
}

.right-column {
    flex: 0;
}

.image {
    max-height: 600px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    color: #888;
}

p {
    font-size: 16px;
    color: #666;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }

    .left-column {
        margin-right: 0;
    }
}